DJANGO_SECRET_KEY=CHANGE_THIS_PLEASE_:D
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://habits.zelda.sh
DATABASE_NAME=habits_db
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
SENTRY_DSN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Echoes <noreply@echoes.zelda.sh>